[submodule "external/abseil_cpp"]
	path = external/abseil_cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "external/effcee"]
	path = external/effcee
	url = https://github.com/google/effcee.git
	branch = "main"
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
	branch = "main"
# Use protobufs@v21.12 before they gained the dependency on abseil
[submodule "external/protobuf"]
	path = external/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "external/re2"]
	path = external/re2
	url = https://github.com/google/re2.git
	branch = "main"
[submodule "external/spirv-headers"]
	path = external/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
	branch = "main"
