name: Build and Test with Bazel
permissions:
  contents: read

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  build:
    timeout-minutes: 120
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-2019]

    runs-on: ${{matrix.os}}

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          fetch-depth: '0'
      - name: Download dependencies
        run: python3 utils/git-sync-deps
      - name: Mount Bazel cache
        uses: actions/cache@e12d46a63a90f2fae62d114769bbf2a179198b5c # v3.3.3
        with:
          path: ~/.bazel/cache
          key: bazel-cache-${{ runner.os }}
      - name: Build All
        run: bazel --output_user_root=~/.bazel/cache build //...
      - name: Test All
        run: bazel --output_user_root=~/.bazel/cache test //...
