name: Wasm Build

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Build web
        run: docker-compose -f source/wasm/docker-compose.yml --project-directory . up
      - name: Run tests
        run: node test/wasm/test.js
