name: Wasm Build
permissions:
  contents: read

on:
  push:
    branches:
      - 'main'
  pull_request:
    types: [opened, synchronize, reopened, unlabeled]

jobs:
  build:
    if: github.event.action != 'unlabeled' || github.event.label.name == 'kokoro:run'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: '0'
      - name: Build web
        run: docker compose -f source/wasm/docker-compose.yml --project-directory . up
      - name: Run tests
        run: node test/wasm/test.js
